<h3>Welcome, <%= @user.name %>
<ul>
    <li><%= button_to "Artists", artists_path %></li>
    <li><%= button_to "Songs", songs_path %></li>
    <li><%= button_to "Genres", genres_path %></li>
    <li><%= button_to "Your Songs", user_songs_path %></li>
    <li><%= button_to "Your Playlists", playlists_path %></li>
</ul>