<h3>Welcome, <%= @user.name %>
<ul>
    <li><%= link_to "Artists", artists_path %></li>
    <li><%= link_to "Songs", songs_path %></li>
    <li><%= link_to "Your Songs", user_songs_path(@user) %></li>
    <li><%= link_to "Your Playlists", playlists_path %></li>
</ul>