<h3><%= @song.title %></h3>
<p>Artist: <%= @song.artist.name %></p>
<p>Genre: <%= @song.genre.name %></p>
<br>
<%= link_to "Add to Songs", add_user_song_path(@song), method: :post %>
<br>
<%= link_to "Add Song to Playlist", add_playlist_song_path(@song) %>