<!DOCTYPE html>
<html>
  <head>
    <title>RailsMusicPlayer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2><%= link_to "Rails Music Player", root_path %></h2>
    <%= render 'layouts/nav' %><br><br>
    <%= yield %>
  </body>
</html>
